[Unit]
Description=Example http service
After=network.target

[Service]
User=bredvidweb
WorkingDirectory=/opt/bredvidweb/backend
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target